<a href="https://colab.research.google.com/github/zjc664656505/BQ_PROJECT/blob/main/BQ_LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Load data from Google Drive

In [1]:
#Mount to your google drive
from google.colab import drive
import pandas as pd
import numpy as np
drive.mount('/content/drive', force_remount= True)

Mounted at /content/drive

In [2]:
#define method for feature selection
def feature_selection(dataframe, feature_list):
  '''
    This is a method which returns the new dataframe in which the features are selected
  '''
  return dataframe[feature_list]

In [61]:
data = pd.read_csv("/content/drive/MyDrive/BrightQuery_Project/meta-model/new_merged_meta_data.csv")

### Transfer data with years as variables

In [80]:
primary_key = ['bq_id', 'bq_year']
other_group_key = ['bq_sector_name', 'bq_business_code', 'bq_company_address1_state']
selecte_features = ['bq_revenue', 'bq_ebitda','bq_operating_expenses','bq_gross_profit', 'bq_cor', 
                    'bq_operating_income', 'bq_tax_and_interest', 'bq_net_income']

# get the data
net_incoome_public = feature_selection(data, primary_key+selecte_features)

In [90]:
# get the company info
categorical_variable = feature_selection(data, ['bq_id']+other_group_key)
company_info = categorical_variable.drop_duplicates(subset=['bq_id'])
# Convert categorical variable into dummy/indicator variables.
company_info = pd.get_dummies(data=company_info)

In [81]:
# Tranfer the long date to wide data
new_pd = net_incoome_public[(net_incoome_public.bq_year == 2015)].drop(columns=['bq_year'])
new_pd.columns = new_pd.columns+"_"+str(2015)
new_pd = new_pd.rename(columns={'bq_id_'+str(2015): 'bq_id'})

for i in range(2016, 2021):
  next_year_net_income = net_incoome_public[(net_incoome_public.bq_year == i)].drop(columns=['bq_year'])
  next_year_net_income.columns = next_year_net_income.columns+"_"+str(i)
  next_year_net_income = next_year_net_income.rename(columns={'bq_id_'+str(i): 'bq_id'})
  new_pd = new_pd.merge(next_year_net_income, how="outer", on='bq_id')

new_pd

          bq_id  bq_revenue_2015  ...  bq_tax_and_interest_2020  bq_net_income_2020
0     412416919      459244000.0  ...                35428000.0          71711000.0
1     136315656      308733000.0  ...                44996000.0         126205000.0
2     666958061      145863000.0  ...                -3108000.0          -4688000.0
3     105749915       38394000.0  ...                 3921000.0          14072000.0
4     218284269       24787824.0  ...                 1699504.0           8201689.0
...         ...              ...  ...                       ...                 ...
3353  949778563              NaN  ...                  860000.0         -17358000.0
3354  558715832              NaN  ...                 1276000.0         -67018000.0
3355  873376661              NaN  ...                  -55063.0          -6370348.0
3356  850491254              NaN  ...               -96840000.0         126121000.0
3357  762959881              NaN  ...                39400000.0         -54400000.0

[3358 rows x 49 columns]

In [94]:
df = new_pd.dropna()
drop_columns = (net_incoome_public.columns[2:] + '_'+str(2020)).tolist()
X = df.drop(columns=drop_columns)
y = df['bq_net_income_2020']
# merge X with categorical data
X = X.merge(company_info, how="inner", on='bq_id')

In [101]:
X['bq_id'] = X['bq_id'].astype("category")
X['bq_business_code'] = X['bq_business_code'].astype("category")
X

          bq_id  ...  bq_company_address1_state_WV
0     412416919  ...                             0
1     136315656  ...                             0
2     666958061  ...                             0
3     105749915  ...                             0
4     218284269  ...                             0
...         ...  ...                           ...
2681  150284220  ...                             0
2682  104668289  ...                             0
2683  826275815  ...                             0
2684  318270525  ...                             0
2685  950199378  ...                             0

[2686 rows x 113 columns]

### Model training and results

In [8]:
# define method for Relative Absolute Error (RAE)
def RAE(y_true, y_pred):
  true = np.array(y_true)
  pred = np.array(y_pred)
  numerator =  np.sum(np.abs(pred - true))
  denominator = np.sum(np.abs(true - np.mean(true)))
  return numerator/denominator

# define method for Mean Absolute Error (MAE)
def MAE(y_true, y_pred):
  return np.mean(np.abs(np.array(y_true) - np.array(y_pred)))

In [103]:
# Split the data into training/testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(X_train, y_train)
r_sq = model.score(X_test, y_test)
print('coefficient of determination:', r_sq)

from sklearn.metrics import mean_squared_error
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)
RAE_train_error = RAE(y_train, y_train_pred)
RAE_test_error = RAE(y_test, y_test_pred)
print('RAE_train_error:', RAE_train_error)
print('RAE_test_error', RAE_test_error)

coefficient of determination: 0.8600881675938027
RAE_train_error: 0.4826919906063113
RAE_test_error 0.4384829783149871